.datatable .actions {
  width: 15%!important;
}
.box .box-content {
  float: left!important;
  width: 100%!important;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-error hr {
  border-top-color: #e4b9c0;
}

.alert-error .alert-link {
  color: #843534;
}